.main {
  background: url(BG_Circles.jpg) repeat-y;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  min-width: 300px;
  width: 89%;
  margin-bottom: 80px;
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  background: #ecf1f5;
  box-shadow: 0px 17px 38px 3px rgba(110, 22, 10, 0.2);
}

.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 68px;
  background: #2b3245;
  padding: 0 83px;
}

.imgSvg {
  fill: #a6afc0;
  vertical-align: middle;
}

.plane {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  background-color: #363d50;
  color: #616d7b;
  outline: none;
  border: none;
  flex: 29 1 0;
  margin: 21px;
  padding-left: 13px;
}

.menu {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  flex: 1 0 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarImage {
  border-radius: 50%;
  height: 38px;
}

.menuBar {
  flex-wrap: wrap;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #fff;
}

.menuItem {
  padding: 10px;
  text-transform: uppercase;
}

.addApiCard {
  align-self: flex-end;
  border-radius: 5px;
  padding: 9px 20px;
  margin-top: 30px;
  margin-right: 96px;
  background-color: #ff4874;
  border: 1px solid transparent;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 7px 12px 3px rgba(110, 22, 10, 0.2);
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 40px 100px 40px;
}

.apiCard {
  flex: 0 0 330px;
  height: 276px;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 14px;
  padding: 10px 10px 0px 10px;
}

.apiInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px 0 20px 0;
}

.apiLogoSvg {
  fill: #2e364b;
  border-radius: 50%;
  background-color: #f5f8fd;
}

.apiName {
  font-size: 1.43rem;
  margin: 15px 0 19px 0;
}

.apiDescription {
  text-align: center;
  padding: 0 41px;
}

.bottomLine {
  display: flex;
  align-items: center;
  height: 100%;
}

.area {
  margin-left: 16px;
  flex: 1 0 50%;
}

.date {
  margin-left: 16px;
  flex: 1 0 50%;
}
