.navigationBar {
  display: flex;
  height: 68px;
  background: #2b3245;
  padding: 0 83px;
}

.imgSvg {
  fill: #a6afc0;
  vertical-align: middle;
}

.plane {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  background-color: #363d50;
  color: #616d7b;
  outline: none;
  border: none;
  flex: 29 1 0;
  margin: 21px;
  padding-left: 13px;
}

.menu {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats {
  flex: 1 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  flex: 1 0 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarImage {
  border-radius: 50%;
  height: 38px;
}
